.projectWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 70vh;
    scroll-snap-align: start;
    margin-bottom: 50px;
}
.align-left{
    justify-content: flex-start;
    margin-left: 80px;
}

.ProjectContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}
.ProjectTitle {
    color: white;
    white-space: nowrap;
    font-size: 24pt;
    padding: 0px 10px 0px 10px; 
}

.ProjectTechnologies{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
    color: white;
}

.ProjectTechnology{
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(0,109,172,0.3);
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.ProjectImage{
    width: 45%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,109,172,0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    color: white;
    font-size: 16pt;
    border-radius: 10px;
}
.ProjectImage:hover{
    transform: scale(1.01);
    animation: transform 1000ms linear;
}
/* *{
    outline: 1px solid red;
} */